main {
    width: 80vw;
    height: calc(100vh - 40px);
    margin: 20px auto;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 65px;
    .section-card {
        display: grid;
        grid-template-areas: 
                "image title"
                "image texto";
        grid-template-columns: 70px auto;
        grid-template-rows: auto auto;
        .section-card_title {
            grid-area: title;
            display: flex;
            align-items: center;
            padding-left: 10px;
        }
        .section-card_text {
            grid-area: texto;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
        }
        .section-card_image {
            grid-area: image;
            .img {
                width: 100%;
                height: 100%;
                background-color: cadetblue;
            }
        }
    }
}